<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnimatedGif" version="1.0.3" targetFramework="net462" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net462" />
  <package id="MahApps.Metro.IconPacks.Modern" version="2.3.0" targetFramework="net462" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net462" />
  <package id="WpfXnaControl" version="1.0.0" targetFramework="net462" />
</packages>